<h1>Polls#start</h1>

<div class="jumbotron">
  <%= form_tag("/polls/vote", method: "post") do %>
    <% @survey.questions.ids.each do |q| %>
      <% questionkey = "question#{q}" %>
      <% q_item = "q_item#{q}" %>
      <%= "Question: #{@survey.questions.find(q).text}" %>
      <%= fields_for questionkey do |q_item| %>
        <%= q_item.hidden_field 'survey_id', value: @survey.id %>
        <%= q_item.hidden_field 'question_id', value: q %><br/>
        <% @survey.questions.find(q).options.ids.each do |c| %>
          <%= q_item.radio_button 'option_id', c %>
          <%= "Choice: #{@survey.questions.find(q).options.find(c).text }" %>
          <br/>
        <% end %>
      <% end %><hr>
    <% end %>
    <%= submit_tag("Vote") %>
  <% end %>
</div>

<h1>Tabulations</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Survey</th>
      <th>Question</th>
      <th>Option</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabulations.each do |tabulation| %>
      <tr>
        <td><%= tabulation.count %></td>
        <td><%= tabulation.survey.name %></td>
        <td><%= tabulation.question.text %></td>
        <td><%= tabulation.option.text %></td>
        <td><%= link_to 'Show', tabulation %></td>
        <td><%= link_to 'Edit', edit_tabulation_path(tabulation) %></td>
        <td><%= link_to 'Destroy', tabulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>