<%= form_for(tabulation) do |f| %>
  <% if tabulation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tabulation.errors.count, "error") %> prohibited this tabulation from being saved:</h2>

      <ul>
      <% tabulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count %>
  </div>

  <div class="field">
    <%= f.label :survey_id %>
    <%= f.text_field :survey_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :option_id %>
    <%= f.text_field :option_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
